.title-film{
    font-weight: 600;
}
.type-film{
   color: #e90101
}
.react-rater-star.is-active{
    color: yellow !important;
    font-size: 1.1rem !important;
  }
  .react-rater-star {
    cursor: pointer;
    color: rgb(131, 127, 26) !important;
    font-size: 1.1rem !important;
    position: relative;
  }
    .react-rater-star.is-active-half:before {
      color: rgb(168, 153, 20)!important;
      content: '\2605';
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
  }