.image-show{
    background-image: url('../../images/hero-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
}
.text-itemm h1{
    padding-top: 127px;
    color: white;
    font-weight: 600;
    font-size: 5rem;
}
.para-show{
    color: black;
    line-height: 2rem;

}.cura{
    font-weight: 400;
    color: black;
}
.online{
    font-weight: 500;
    letter-spacing: 1px;
}
.popular{
    font-size: 43px;
    font-weight: 900;
    color: black;
    letter-spacing: 2px;
}
/* -------------Contact -----------------*/
.items{
    background-image: url("../../images/bg_11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 36vh;
}
.label{
    font-size: 15px;
    color: black;
    font-weight: 500;
}
.favorite{
    margin-top: 8rem;
}
.fa-heartbeat:hover{
    color: red;
}
/* ------------Details ------------*/
.details{
    background-image: url('../../images/hero-whats-on.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.take{
    padding-top:10rem ;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e90101;
}
.more{
    font-size: 52px;
    font-weight: 300;
    color: white;
    letter-spacing: 2px;
}
iframe{
    height: 50vh;
    width: 50vh;
}
.sociall{
  
    width: 48px;
    height: 48px;
    line-height: 44px;
    text-align: center;
    border: 1px solid #585858;
    border-radius: 24px;
    margin-right: 6px;
    font-size: 16px;
    
}
.detail-para{
    color: black !important;
    width: 112vh !important;
    line-height: 27px !important;
}
.detail-title{
    color: black;
    font-weight: 400;

}