body{
  overflow-x: hidden;
  

}
.header{
  background-image: url('./images/slide02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  margin-top: 57px;
}
.guerra{
  font-weight: 700;
  color: white;
  letter-spacing: 7px;
  font-size: 4rem;
}
.mandou{
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 100px;
}
.hd{
  height: 15px;
    width: 80px;
}
.type{
  color:#e90101 ;
  font-weight: 700;
}
.chiffre{
  border-bottom: 4px green solid;
  border-right: 4px green solid;
  border-radius: 19px;
  padding: 3px 5px 2px 5px;
  font-weight: 700;
}
.year{
  font-weight: 700;
}
.btn-redd{

  padding: 15px 44px 15px 50px !important;
}
.edit{
  color: white;
  cursor: pointer;
}
.remove{
  color: #da0e2b;
  cursor: pointer;
}
.plus{
  border: 1px solid white;
    border-radius: 22px;
    padding: 11px 22px 10px 21px;
    font-weight: 700;
    color: white;
}
.nine{
  font-size: 279px;
  color: red;
}
.experience p{
  font-size: 17px;
  color: gray;
}
.history h2{
  font-size: 34px;
  color: #333;
  line-height: 1.4em;
  font-family: Merriweather;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.history p{
  color: gray;
  font-size: 14px;
  line-height: 30px;
}
.about{
  width: 100%;
  display: block;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: 2px;
  opacity: 0.6;
}
.his{
  width: 100%;
  display: block;
  margin: 0;
  font-size: 46px;
  font-weight: 600;
}
.side-content h2{
  width: 100%;
  display: block;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 40px;
}
.side-content p{
  color: gray;
}
.side-content h4{
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 16px;
}
.sub-title{
  color:  #da0e2b;;
  font-size: 30px;
  letter-spacing: .1em;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.explore{
  font-size: 34px;
  color: #333;
  line-height: 1.4em;

  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.para-service{
  color: gray;
    font-size: 14px;
    line-height: 30px;
}
.list-movies{
  background: rgb(17, 17, 17);
  
}

.list-movies h5{
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  opacity: 0.6;
}
.list-movies h2{
  width: 100%;
  color: #fff;
  text-align: center;
    display: block;
    margin: 0;
    font-size: 46px;
    font-weight: 600;
}
.testimential h2{
  width: 100%;
  display: block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  padding-right: 10%;
  
}
.testimential h5 p{
  width: 100%;
  display: block;
  padding: 0;
  margin-bottom: 20px;
  border: none;
  font-size: 20px;
  padding-right: 10%;
}
.addon{
  background: red;
  color: white;
  border-radius: 5px;
}
.date{
 
    padding: 0;
    font-size: 15px;
    line-height: 40px;
    font-weight: 100;
   
    color: #fff;
}
.card-title{
  font-family: Roboto;
    font-size: 28px;
    color: #fff;
    margin: 0;
    padding: 0;
    float: left;
    font-weight: 300;
}
.rating{
  color: #e90101;
}
.playing{
 
  display: block;
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}
.news{
  position: relative;
  width: 5%;
  
}
.new::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 19%;
  border-radius: 12px;
  background-color: red;
  width: 78%;
  left: 0;
  animation: pulse 1000ms infinite;}

@keyframes pulse{
  0%{
    transform: scale(.95);
    opacity: 0.75;
  }
  100%{
    transform: scale(1.65);
    opacity: 0.3;
  }
}